@import url(https://fonts.googleapis.com/css?family=Leckerli+One);

.listDiv h3 {
  font-family: "Leckerli One", cursive;
  font-size: 4vh;
  color: rgba(23, 179, 44, 0.829);
  text-shadow: 0 2px rgba(0, 0, 0, 0.5);
  align-self: center;
}
.listDiv {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
